<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<br><br><h4>
				<% if $irep == 0 %>
					<br/><br/><%= gravatar_pour $avatar, :size => 30 %>
					<%= $avatar.nom  %> 
				<% else %>
					<% $gravatar = User.find_by_id($receiver_id) %> 
					<%= gravatar_pour $gravatar, :size => 30 %>
					<%= $gravatar.nom  %> 
				<% end %>
			</h4>
			<td class="main", style="font-style:italic;">
				<% if $irep == 0 %>
					<h4 class="Messages">Messages</h4>
				<% else %>
					<h4 class="Messages">Reponse</h4>
				<% end %>
				<% if !(current_user == $user) %>
					<%= render 'shared/message_form' %>
				<% end %> 
				<%= render 'shared/feed_message' %>
				<%#= render 'shared/feed_conversation' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>