<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<h1>
				<% if $irep == 0 %>
					<%= gravatar_pour $avatar, :size => 30 %>
					<%= $avatar.nom  %> 
				<% else %>
					<% $gravatar = User.find_by_id($message.sender_id) %>
					<%= gravatar_pour $gravatar, :size => 30 %>
					<%= $gravatar.nom  %> 
				<% end %>
			</h1>
			<td class="main">
				<% if $irep == 0 %>
					<h3 class="Messages">Messages</h3>
				<% else %>
					<h3 class="Messages">Reponses</h3>
				<% end %>
				<% if !(current_user == $user) %>
					<%= render 'shared/message_form' %>
				<% end %> 
				<%= render 'shared/feed_message' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>