<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<h2>
				<% if $irep == 0 %>
					<%= gravatar_pour $avatar, :size => 30 %>
					<% if !$avatar.pro? %>
						<%= $avatar.nom  %> 
					<% else %>
						<%= $avatar.nom  %> | <em> Pro <em> <br/>
						<% if !$avatar.siteinternet.nil? %>
							<em> <%= link_to $avatar.siteinternet, href="http://www.#{$avatar.siteinternet}" %> <em>
						<% end %>
					<% end %>
				<% else %>
					<% $gravatar = User.find_by_id($message.sender_id) %>
					<%= gravatar_pour $gravatar, :size => 30 %>
					<% if !$gravatar.pro? %>
						<%= $gravatar.nom  %> 
					<% else %>
						<%= $gravatar.nom  %> | <em> Pro <em> <br/>
						<% if !$gravatar.siteinternet.nil? %>
							<em> <%= link_to $gravatar.siteinternet, href="http://www.#{$gravatar.siteinternet}" %> <em>
						<% end %>
					<% end %>
				<% end %>
			</h2>
			<td class="main">
				<% if $irep == 0 %>
					<h3 class="Messages">Messages</h3>
				<% else %>
					<h3 class="Messages">Reponses</h3>
				<% end %>
				<% if !(current_user == $user) %>
					<%= render 'shared/message_form' %>
				<% end %> 
				<%= render 'shared/feed_message' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>