<tr>
	<td><% $sender_id = message.sender_id %>
<% $sender = User.find_by_id($sender_id) %>
<%= $sender_id%>
					<%= gravatar_pour $sender, :size => 30%>
					<%= $sender.nom %> 
		
		<td class="message">
		<span class="content"><%= message.message %></span>
		<span class="timestamp">
			Poste il y a <%= time_ago_in_words(message.created_at) %>.
		</span>
	</td>
	
</tr>