<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<h2>
				<% if ($irep == 1)  %>
					<%= gravatar_pour $avatar, :size => 30 %>
					<%= $avatar.nom  %> 
				<% elsif !(current_user.id == $user) && ($irep == 1) %>
					<% #$gravatar = User.find_by_id($message.sender_id) %> 
					<%= gravatar_pour $avatar1, :size => 30 %>
					<%= $avatar1.nom  %> 
				<% end %>
			</h2>
			<td class="main">
				<h3 class="Messages">Messages </h3>
				<% if !(current_user.id == $user) && ($irep == 1) %>
					<%= render 'shared/message_form' %>
				<% end %>
				<%= render 'shared/feed_message' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
