<li> <% $user_index = User.find_by_id(signalement.id_signaleur)%><hr>
	<%= gravatar_pour $user_index, :size => 30 %> 
	<% $user_index.nom = $user_index.nom + " | Pro" %>
	<%= signalement.signalement %>
	<% if current_user.admin? %>
		<% if signalement.validation == false %>
			<%= form_for signalement  do |f| %>
				<%= render 'shared/error_messages', :object 						=> f.object %>
				<div class="field", style="float:left;"  >
					<%= f.check_box :validation %>
				</div>
				<div class="actions" >
					<%= f.submit "Valider", :action => 		'update' ,:class => 'buttons' %>
				</div>
			<% end %>
		<% end %>
		<%= button_to "Supprimer", signalement, {:onclick => "return confirm('Are you sure to delete signalement #{signalement.signalement} ?')", :method => :delete, :class => 'buttons' } %>
	<% end %> 
</li>

