<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
    		<td class="Signalement">
							
				<h1>
	<%= gravatar_pour $avatar, :size => 30 %>
					<%= $avatar.nom  %> | Pro 
				</h1>
			
			

				<h2 class="signalement">Signalements</h2>
				
				
				<%= render "shared/signalement_form_upd" %></br>
				<%= render 'shared/feed_signalement' %> </br> 
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
