<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			
				<h1>
					<%= gravatar_pour $avatar, :size => 30 %>
					<%= $nom  %> | Pro 
				</h1>
			

			<td class="main">
				<h3 class="Signalement">Nouveau signalement</h3>
				<%= render 'shared/signalement_form' %>
				<%= render 'shared/feed_signalement' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>