
<table class="profile" summary="Information profil">
	<tr><br/><br/><br/>
		<td class="main">
			<% $index_pro = 0 %>
			<% $irep = 0 %>
			<% if @user.pro?  %>
				<h2>
					<%= gravatar_pour @user, :size => 20%>
					<%= @user.nom %> | <em> Pro </em> </br>
					<% if !@user.siteinternet.nil? %>
						<em> <%= link_to @user.siteinternet, href="http://www.#{@user.siteinternet}" %> <em>
					<% end %>
				</h2>
			<% else %>
				<h2>
					<%= gravatar_pour @user, :size => 20 %>
					<%= @user.nom %>
				</h2>
			<% end %>
			<div><em>
				<% if @user.pro? %>
					<div style = "color:#3068d4;">
						<em><%= pluralize(@user.projaimes.count, "Jaime") %></em>
						<em><%= pluralize(@user.proasuivres.count, "Suivre", ) %></em>
					</div>
				<% end %>
				<br><%= @user.email %></br>
				Date de naissance : <%= @user.datenaissance.to_s[0..9]  %></br>
				Sexe : <%= @user.sexe %></br>
				Adresse : <%= @user.adresse %> </br>
				Mobile : <%= @user.mobile %> <br/>
				<% if @user.pro?  %>
					Description : <%= @user.description %><br>
					Theme : <%= @user.theme %> <br/>
					Mot cle : <%= @user.motcle %> <br/>
					Statut : <%= @user.abonnement_statut %> <br/>
				<% end %>
				Facebook : <%= @user.mobile %> <br/>
				Google : <%= @user.google %> <br/>
				Twitter : <%= @user.twiter %> <br/>
				Linkedin : <%= @user.linkedin %> <br/>
				Petit mot personnel : <%= @user.petitmot %> <br/>
				Centre d'interet : <%= @user.interet %> <br/>
				Notification par mail : 
				<%  if @user.notifmail == "true" %> 
					<%= "Oui"  %> <br/>
				<% else %>
					<%= "Non" %><br/>
				<%end %>
				Notification par sms : 
				<% if @user.notifsms  == "true" %>  
					<%= "Oui"  %> <br/> 
				<% else %>
					<%= "Non" %><br/>
				<%end %>
			</em></div><br/>
    		<%= render 'friend_form' if signed_in? %>
			<% $user = @user.id %>
			<% $user_pro = 0  %>
			<% $user_pro = 1 if @user.pro? %>
			<% $nom = @user.nom %>
			<% $avatar = @user %>
			<% $temoin = 0 %>
			<%# $aut = Temoignage.find_by_pro_id(current_user.id) %>
			<% $pro = Temoignage.find_by_pro_id(@user.id) %>
			<% if (current_user == @user) %>
				<br><%= link_to "Modifier", edit_user_path(current_user), :class => "buttons",  :style => "float:left;" %>
			<% end %>
			<% if !$pro.nil?  %>
				 <%= link_to "Temoignages", feed_item_temoignage_path, :class => 'buttons', :style => "float:left;"  %>
			<% elsif @user.pro? %>
				 <%= link_to "Temoignages", temoignages_edit_path, :class => 'buttons' ,:style => "float:left;"  %> 
			<% end %>
			<% if @user.pro? && !(current_user == @user)  %>
				<%= link_to "Signalements", signalements_path , :class => 'buttons' ,:style => "float:left;"  %>
			<% end %>
			<% if signed_in? && !(current_user == @user)  %>
				<% $irep = 0 %>
				<%= link_to "Messages", messages_edit_path , :class => 'buttons',:style => "float:left;"  %>
			<% end %>
			<% unless current_user?(@user) %>
				<% if @user.pro? %>
					<% @projaime = Projaime.find_by_user_id_and_pro_id(current_user.id, $user) %>
					<% if (!@projaime.nil?) %>
						</strong><%= link_to "N'aime plus", prodesjaime_path(@projaime), :method => :get , :class => 'buttons',:style => "float:left;"  %>
					<% else %> 
						</strong><%= link_to "Jaime", projaime_path, :class => 'buttons', :style => "float:left;" %>
					<% end %>
					<% $proasuivre = 0 %>
					<% @proasuivre = Proasuivre.find_by_user_id_and_pro_id(current_user.id, $user) %>
					<% if (!@proasuivre.nil?) %>
						<% $proasuivre = 1 %>
						</strong><%= link_to "Ne plus suivre", prodessuivre_path(@proasuivre), :id => @proasuivre, :method => :post , :class => 'buttons' , :style => "float:left;" %>
					<% else %> 
						</strong><%= link_to "Suivre", proasuivre_path, :class => 'buttons',:style => "float:left;"  %><br>
					<% end %>
				<% end %>
			<% end %><br>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="Micro-messages de l'utilisateur">
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts, :per_page => 5  %>
			<% end %>
  		</td>
		<% if signed_in? %>
		<td class="sidebar round">
			<div class="main">
					<%= gravatar_pour current_user, :size => 30 %>
				<span class="user">
					<strong> <%= current_user.nom %></strong> 
				</span>
				<span class="user_name">
					<strong> <%#= @user.email%></strong> <br />
				</span>
				<span class="user_name">
					<!--<strong>Microposts</strong> -->
					<%# = current_user.microposts.count %> 
					<!--<a href="<%= messages_path(@user) %>"> -->
						<span id="messages" class="stat">
							<%= link_to pluralize(current_user.messages.count , "Message recu", "Messages recus"), messages_path(current_user) ,:onclick => $irep = 0, :style => "font-family:comic sans serif;" %>
						</span>
					</a>
				</span>
			</div>
			<%= render 'shared/statsfriends' %>
		</td>
		<% end %>
	</tr>
</table>


