<table summary="Information a propos des amis et des invitations">
	<tr>
		<td class="main">
			<h2><%= @titre %></h2>
			<% unless @users.empty? %>
				<ul class="users">
					<%= render @users %>
				</ul>
				 <%= will_paginate @users %> 
			<% end %>
		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info_liste' %>
    			<%= render 'shared/statsfriends' %>
			<% unless @users.empty? %>
				<% @users.each do |user| %>
					<%= link_to gravatar_pour(user, :size => 30), user %>
				<% end %>
			<% end %>
		</td>
	</tr>
</table>