<table class="profile" summary="Information profil">
	<tr>
		<td class="main">
			<h1>
				<%= @user.nom %>
			</h1>
			<%= render 'friend_form' if signed_in? %>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="Micro-messages de l'utilisateur">
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
  		</td>
		<td class="sidebar round">
			<%= render 'shared/user_info' %>
			<%= render 'shared/statsfriends' %>
		</td>
	</tr>
</table>