<table class="profile" summary="Information profil">
	<tr>
		<td class="main">
			<% $index_pro = 0 %>
			<% $irep = 0 %>
			<% if @user.pro?  %>
				<h1>
					<%= gravatar_pour @user, :size => 30%>
					<%= @user.nom %> | Pro
				</h1>
			<% else %>
				<h1>
					<%= gravatar_pour @user, :size => 30 %>
					<%= @user.nom %>
				</h1>
			<% end %>
     		<%= render 'friend_form' if signed_in? %>
			<% $user = @user.id %>
			<% $user_pro = 0  %>
			<% $user_pro = 1 if @user.pro? %>
			<% $nom = @user.nom %>
			<% $avatar = @user %>
			<% $temoin = 0 %>
			<% $aut = Temoignage.find_by_user_id(current_user.id) %>
			<% $pro = Temoignage.find_by_pro_id(current_user.id) %>
			<% if current_user.pro?  && !$pro.nil? %>
					<%= link_to "Temoignages", feed_item_temoignage_path, :class => 'buttons' %>
			<% elsif !$aut.nil? %>
				 <%= link_to "Temoignages", temoignages_edit_path, :class => 'buttons' %> 
			<% elsif @user.pro? & !(current_user == @user)  %>
				 <%= link_to "Temoignages", temoignages_edit_path, :class => 'buttons' %> 
			<% end %>
			<% if @user.pro? & !(current_user == @user)  %>
				<%= link_to "Signalements", signalements_path , :class => 'buttons'%>
			<% end %>
			<% if !@user.pro? & !(current_user == @user)  %>
				<% $irep = 0 %>
				<%= link_to "Messages", messages_edit_path , :class => 'buttons'%>
			<% end %>
			<% unless current_user?(@user) %>
				<% if @user.pro? %>
					<% @projaime = Projaime.find_by_user_id_and_pro_id(current_user.id, $user) %>
					<% if (!@projaime.nil?) %>
						</strong><%= link_to "N'aime plus", prodesjaime_path(@projaime), :method => :get , :class => 'buttons' %>
					<% else %> 
						</strong><%= link_to "Jaime", projaime_path, :class => 'buttons' %>
					<% end %>
					<% $proasuivre = 0 %>
					<% @proasuivre = Proasuivre.find_by_user_id_and_pro_id(current_user.id, $user) %>
					<% if (!@proasuivre.nil?) %>
						<% $proasuivre = 1 %>
						</strong><%= link_to "Ne plus suivre", prodessuivre_path(@proasuivre), :id => @proasuivre, :method => :post , :class => 'buttons' %>
					<% else %> 
						</strong><%= link_to "Suivre", proasuivre_path, :class => 'buttons' %>
					<% end %>
				<% end %>
			<% end %>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="Micro-messages de l'utilisateur">
					<%# = render @microposts %>
				</table>
				<%# = will_paginate @microposts %>
			<% end %>
			
  		</td>
		<td class="sidebar round">
			<div class="main">
				<%= gravatar_pour @user, :size => 50 %>
				<span class="user">
					<strong> <%= @user.nom %></strong> <br />
				</span>
				<span class="user_name">
					<strong> <%= @user.email%></strong> <br />
				</span>
				<span class="user_name">
					<!--<strong>Microposts</strong> 
					<%= @user.microposts.count %> -->
					<% if current_user == @user %>
					<a href="<%= messages_path(@user) %>">
						<span id="messages" class="stat">
							<%= pluralize(@user.messages.count , "Message recu", "Messages recus") %>
						</span>
					</a>
					<% end %>
				</span>
			</div>
			<%= render 'shared/statsfriends' %>
		</td>
	</tr>
</table>

