<table class="profile" summary="Information profil">
	<tr>
		<td class="main">
			<% if @user.pro?  %>
				<h1>
					<%= @user.nom %> | Pro
				</h1>
			<% else %>
				<h1>
					<%= @user.nom %>
				</h1>
			<% end %>
     		<%= render 'friend_form' if signed_in? %>
			<% $user = @user.id %>
			<% $user_pro = @user.pro? %>
			<% $nom = @user.nom %> 	
			<% $temoin = 0 %>
			<% $aut = Temoignage.find_by_user_id($user) %>
			<% if @user.pro? | !$aut.nil? %>
					<%= link_to "Temoignages", temoignage_path  %>
			<% end %>
			<% unless current_user?(@user) %>
				<% $projaime = 0 %>
				<% @projaime = Projaime.find_by_user_id_and_pro_id(current_user.id, $user) %>
				<% if (!@projaime.nil?) %>
					<% $projaime = 1 %>
					</strong><%= link_to "N'aime plus", prodesjaime_even_path(@projaime), :id => @projaime, :method => :post ,:class => 'round' %>
				<% else %> 
					</strong><%= link_to "Jaime", projaime_even_path, :class => 'round' %>
				<% end %>
				<% $proasuivre = 0 %>
				<% @proasuivre = Proasuivre.find_by_user_id_and_pro_id(current_user.id, $user) %>
				<% if (!@proasuivre.nil?) %>
					<% $proasuivre = 1 %>
					</strong><%= link_to "Ne plus suivre", prodessuivre_even_path(@proasuivre), :id => @proasuivre, :method => :post ,:class => 'round' %>
				<% else %> 
					</strong><%= link_to "Suivre", proasuivre_even_path, :class => 'round' %>
				<% end %> 
			<% end %>
			<% unless @user.microposts.empty? %>
				<table class="microposts" summary="Micro-messages de l'utilisateur">
					<%= render @microposts %>
				</table>
				<%= will_paginate @microposts %>
			<% end %>
  		</td>
		<td class="sidebar round">
			<div class="user_info">
				<%= gravatar_pour @user, :size => 50 %>
				<span class="user_name">
					<strong> <%= @user.nom %></strong> <br />
				</span>
				<span class="user_name">
					<strong> <%= @user.email%></strong> <br />
				</span>
				<span class="user_name">
					<strong>Microposts</strong> <%= @user.microposts.count %>
				</span>
			</div>
			<%= render 'shared/statsfriends' %>
		</td>
	</tr>
</table>

