<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<h2>
				<%= gravatar_pour $avatar, :size => 30%>
				<%= $avatar.nom %> | <em> Pro </em></br>
				<% if !$avatar.siteinternet.nil? %>
					<em> <%= link_to $avatar.siteinternet, href="http://www.#{$avatar.siteinternet}" %> <em>
				<% end %>
			</h2>
			<td class="main">
				<h3 class="signalement">Signalements </h3>
				<%= render "shared/signalement_form" %>
				<%= render 'shared/feed_signalement' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
