<%= form_for @conversation do |f| %>
	<%= f.text_area :body %>
	<p>
		<% @user.each do |user| %>
			<div>
				<%= check_box_tag "conversation[user_tokens][]", user.id, @conversation.users.include?(user) %>
				<%= user.nom %>
				<%#= f.select :user_tokens, @users.map { |x| x.nom }.join(", "), {}, :multiple => true %><br>
				<%#= f.select :user_tokens, options_for_select(User.all.map{|c| [c.nom, c.id]}, f.object.user_tokens ), {},  {multiple: "true", class: "form-control selectpicker" } %>
			</div>
		<% end %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>