<%= form_for @conversation do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<%= f.text_area :body  %>
	<p>
		<% @user.each do |user| %> 
			<div >  
				<%= check_box_tag "recipient[user_tokens][]", user.id, @conversation.users.include?(user)  %> 
				<% $gravatar = User.find_by_id(user.id) %>
				<%= gravatar_pour($gravatar, :size => 30, :style => "margin-right:0px") %>
				<%= user.nom %>
				<%#= f.select :user_tokens, options_for_select(User.all.map{|c| [c.nom, c.id]}, f.object.user_tokens ), {},  {multiple: "true", class: "form-control selectpicker" } %>
			</div>
		<% end %>
	</p>
	<p>
		<%= f.submit "Envoyer" %>
	</p>
<% end %>