<%= form_for @evenement  do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<% if current_user?(@evenement.user) %>
	<div class="field">
		<%= f.label :titre, "Titre" %><br />
		<%= f.text_field :titre %>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :description, "Description" %><br />
		<%= f.text_field :description %>
	</div>
	<div class="field">
		<%= f.label :date_evenmt, "Date evenement" %><br />
		<%= f.date_field :date_evenmt %>
	</div>
	<div class="field">
		<%= f.label :heure_evenmt, "Heure evenement" %><br />
		<%= f.time_field :heure_evenmt %>
	</div>
	<div class="field">
		<%= f.label :lieu_evenmt, "Lieu evenement" %><br />
		<%= f.text_field :lieu_evenmt%>
	</div>
	<div class="field">
		<%= f.label :lieu_rdv, "Lieu du RDV" %><br />
		<%= f.text_field :lieu_rdv %>
	</div>
	<div class="field">
		<%= f.label :date_rdv, "Date du RDV" %><br />
		<%= f.date_field :date_rdv %>
	</div>
	<div class="field">
		<%= f.label :prix, "Prix" %><br />
		<%= f.text_field :prix %>
	</div>
	<div class="field">
		<%= f.label :nbmax, "Nbr max" %><br />
		<%= f.text_field :nbmax %>
	</div>
	<div class="field">
		<%= f.label :theme, "Theme" %><br />
		<%= f.text_field :theme %>
	</div>
	<div class="field">
		<%= f.label :mot_cle, "Mot cle" %><br />
		<%= f.text_field :mot_cle %>
	</div>
	<% if current_user?(@evenement.user) %>
			<%= button_to "Update", @evenement, {:onclick => "return confirm('Are you sure to update evenement #{@evenement.titre}?')", :method => :patch, :class => 'round', :title => @evenement.titre, :countchecks => 0   } %>
	<% else %>
		<% $inscrit = 0 %>
		<% @inscription = Inscription.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
		<% if (!@inscription.nil?) %>
				<% $inscrit = 1 %>
				</strong><%= link_to "Desinscription", desins_even_path(@inscription), :id => @inscription, :method => :post ,:class => 'round' %>
		<% else %> 
				 </strong><%= link_to "Inscription", ins_even_path, :class => 'round' %>
		<% end %>
		
		<% $jaime = 0 %>
		<% @jaime = Jaime.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
		<% if (!@jaime.nil?) %>
				<% $jaime = 1 %>
				</strong><%= link_to "Aime plus", desaime_even_path(@jaime), :id => @jaime, :method => :post ,:class => 'round' %>
		<% else %> 
				 </strong><%= link_to "Aime", aime_even_path, :class => 'round' %>
		<% end %>
		
		<% $interesse = 0 %>
		<% @interesse = Interesse.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
		<% if (!@interesse.nil?) %>
				<% $interesse = 1 %>
				</strong><%= link_to "Interesse plus", desinteresse_even_path(@interesse), :id => @interesse, :method => :post ,:class => 'round' %>
		<% else %> 
				 </strong><%= link_to "Interesse", interesse_even_path, :class => 'round' %>
		<% end %>

		<% $even = 0 %>
		<% $even_user = @evenement.user %>
		<% $evenement_titre = @evenement.titre %>
		<% $even_id = @evenement.id %>
		<% $evenement = @evenement %>
		</strong><%= link_to "Commentaires", commentaire_path, :class => 'round' %>
	<% end %>
<% end %>
