
		Date/heure de l'evenement : <%= @evenement.date_evenmt.to_s[0..15] %><br />
		Description : <%= @evenement.description %><br />
		Lieu : <%= @evenement.lieu_evenmt%><br />
		Date/heure du RDV : <%= @evenement.date_rdv.to_s[0..15] %><br />
		Lieu du RDV : <%= @evenement.lieu_rdv %><br />
		Code postal : <%= @evenement.code_postal %><br />
		Prix : <%= @evenement.prix %><br />
		Nombre max : <%= @evenement.nbmax %><br />
		Theme : <%= @evenement.theme %><br />
		Mot-cle : <%= @evenement.mot_cle %><br /><br />
    <div>
		<% if signed_in? %>
		<% if !current_user?(@evenement.user) %> 
			<% $even_id = @evenement.id %>
			<% @inscription = Inscription.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@inscription.nil?) %>
					</strong><%= link_to "Desinscription", desins_even_path(@inscription), :id => @inscription, :method => :post ,:class => 'buttons' %>
			<% else %> 
				<en></strong><%= link_to "Inscription", ins_even_path, :class => 'buttons' %>
			<% end %>
			<% @jaime = Jaime.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@jaime.nil?) %>
					</strong><%= link_to "Aime plus", desaime_even_path(@jaime), :id => @jaime, :method => :post ,:class => 'buttons' %>
			<% else %> 
					</strong><%= link_to "Aime", aime_even_path, :class => 'buttons' %>
			<% end %>
			<% @interesse = Interesse.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@interesse.nil?) %>
					</strong><%= link_to "Interesse plus", desinteresse_even_path(@interesse), :id => @interesse, :method => :post ,:class => 'buttons' %>
			<% else %> 
					</strong><%= link_to "Interesse", interesse_even_path, :class => 'buttons' %>
			<% end %>
			<% $even = 0 %>
			<% $even_user = @evenement.user %>
			<% $evenement_titre = @evenement.titre %>
			<% $evenement = @evenement %>
			</strong><%= link_to "Commentaires", commentaire_path, :class => 'buttons' %> </en>
			</strong><%= link_to "Signalements", signalevens_path, :class => 'buttons' %>
		<% end %>
		<% end %>
	</div>

