<%= form_for @evenement  do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<% if signed_in? && (current_user?(@evenement.user)) %>
		<div class="field">
			<%= f.label :titre, "Titre*" %><br />
			<%= f.text_field :titre %>
		</div>
		<div class="field">
			<%= f.label :description, "Description*" %><br />
			<%= f.text_area :description %>
		</div>
		<div class="field">
			<%= f.label :date_evenmt, "Date/heure de l'evenement*" %><br />
			<%= f.datetime_local_field :date_evenmt %>
		</div>
		<div class="field">
			<%= f.label :lieu_evenmt, "Lieu evenement*" %><br />
			<%= f.text_field :lieu_evenmt%>
		</div>
				<div class="field">
			<%= f.label :date_rdv, "Date et heure du RDV*" %><br />
			<%= f.datetime_local_field :date_rdv %>
		</div>
		<div class="field">
			<%= f.label :lieu_rdv, "Lieu du RDV*" %><br />
			<%= f.text_field :lieu_rdv %>
		</div>

		<div class="field">
			<%= f.label :prix, "Prix*" %><br />
			<%= f.text_field :prix %>
		</div>
		<div class="field">
			<%= f.label :nbmax, "Nbr max*" %><br />
			<%= f.text_field :nbmax %>
		</div>
		<div class="field">
			<%= f.label :theme, "Theme" %><br />
			<%= f.text_field :theme %>
		</div>
		<div class="field">
			<%= f.label :mot_cle, "Mot cle" %><br />
			<%= f.text_field :mot_cle %>
		</div> 
	<% else %>
		Date/heure de l'evenement : <%= @evenement.date_evenmt.to_s[0..9] %><br />
		Description : <%= @evenement.description %><br />
		Lieu : <%= @evenement.lieu_evenmt%><br />
		Date/heure du RDV : <%= @evenement.date_rdv %><br />
		Lieu du RDV : <%= @evenement.lieu_rdv %><br />
		Prix : <%= @evenement.prix %><br />
		Nombre max : <%= @evenement.nbmax %><br />
		Theme : <%= @evenement.theme %><br />
		Mot-cle : <%= @evenement.mot_cle %><br /><br />
	<% end %>
    <div>
		<% if signed_in? %>
		<% if current_user?(@evenement.user) %> 
			<%= button_to "Modifier", @evenement,  :method => :patch, :class => 'buttons'%> 
		<% else %>
			<% $even_id = @evenement.id %>
			<% @inscription = Inscription.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@inscription.nil?) %>
					</strong><%= link_to "Desinscription", desins_even_path(@inscription), :id => @inscription, :method => :post ,:class => 'buttons' %>
			<% else %> 
				<en></strong><%= link_to "Inscription", ins_even_path, :class => 'buttons' %>
			<% end %>
			<% @jaime = Jaime.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@jaime.nil?) %>
					</strong><%= link_to "Aime plus", desaime_even_path(@jaime), :id => @jaime, :method => :post ,:class => 'buttons' %>
			<% else %> 
					</strong><%= link_to "Aime", aime_even_path, :class => 'buttons' %>
			<% end %>
			<% @interesse = Interesse.find_by_user_id_and_evenement_id(current_user.id, @evenement.id) %>
			<% if (!@interesse.nil?) %>
					</strong><%= link_to "Interesse plus", desinteresse_even_path(@interesse), :id => @interesse, :method => :post ,:class => 'buttons' %>
			<% else %> 
					</strong><%= link_to "Interesse", interesse_even_path, :class => 'buttons' %>
			<% end %>
			<% $even = 0 %>
			<% $even_user = @evenement.user %>
			<% $evenement_titre = @evenement.titre %>
			<% $evenement = @evenement %>
			</strong><%= link_to "Commentaires", commentaire_path, :class => 'buttons' %> </en>
			</strong><%= link_to "Signalements", signalevens_path, :class => 'buttons' %>
		<% end %>
		<% end %>
	</div>
<% end %>
