<tr>
	<td class="gravatar">
	<% $gravatar = User.find_by_id(feed_item_message.sender_id) %> 
		<% if  !(current_user.id == $gravatar.id) %>
			<% $irep = 1 %>
			<%= link_to gravatar_pour($gravatar, :size => 30), messages_edit_path($gravatar.id)%>
			<% $avatar1 = $gravatar %>
			<% $feed_item_message= feed_item_message %>
		<% else %>
			<%= gravatar_pour($gravatar, :size => 30) %>
		<% end %>
	</td>
	<td class="content">
		<span class="content">
			<% if feed_item_message.i_lu == 2 %>
				<em><%=  feed_item_message.message %> </em>
			<% else %>
				<%= feed_item_message.message %>
			<% end %>
			<% if (current_user.id  == feed_item_message.sender_id ) %>
				<% $i_sup_rec = 0 %>
				<% if feed_item_message.i_lu == 0 %>
					<%= button_to "Supprimer", feed_item_message, {:onclick => "return confirm ('Are you sure to delete this message ?')", :method => :delete, :class => 'buttons', :title => feed_item_message.message, :countchecks =>  0 } %>
				<% else %>
					<%= button_to "Supprimer", feed_item_message, {:onclick => "return confirm ('Are you sure to delete this message ?')", :method => :patch, :class => 'buttons', :title => feed_item_message.message, :countchecks =>  0 } %>
				<% end %>
			<% elsif (current_user.id  == feed_item_message.receiver_id )  %>
				<% $i_sup_rec = 1 %>
				<%= render 'update' %>
			<% end %>
			</td>
		</span>
	</td>
</tr>