<tr>
	<td class="gravatar">
	<% $gravatar = User.find_by_id(feed_item_message.sender_id) %> 
		<% if  !(current_user.id == $gravatar.id) %>
			<% $irep = 1 %>
			<%= link_to gravatar_pour($gravatar, :size => 30), messages_edit_path($gravatar.id)%>
			<% $avatar1 = $gravatar %>
			<% $feed_item_message= feed_item_message %>
		<% else %>
			<%= gravatar_pour($gravatar, :size => 30) %>
		<% end %>
	</td>
	<td class="content">
		<span class="content"></strong><%=  feed_item_message.message %>
			<% if (current_user.id  == feed_item_message.sender_id )  && feed_item_message.i_sup == false %>
				<%= button_to "Effacer", feed_item_message, {:onclick => "return confirm ('Are you sure to delete this message ?')", :method => :delete, :class => 'buttons', :title => feed_item_message.message, :countchecks =>  0 } %>
			<% else %>
					<%= render 'update' %>
			<% end %>
			</td>
		</span>
	</td>
</tr>