<tr> 
	<% $signalant = User.find_by_id(feed_item_signal.id_signaleur) %>
	<% $signale = User.find_by_id(feed_item_signal.pro_id) %> 
	<td class="signalement"> <hr>
		<% if current_user.admin? ||  feed_item_signal.validation == true  || current_user.id == feed_item_signal.id_signaleur %>
			<br><%= gravatar_pour($signalant, :size => 30) %> /
			<%= $signale.nom %> <br>
			<span class="content"></strong><%= feed_item_signal.signalement %></span> 
			<!--<span class="timestamp">
				Posté il y a <%= time_ago_in_words(feed_item_signal.created_at) %>.
			</span> --> 
		<% end %>
		<% if current_user.admin? && feed_item_signal.validation == false %>
			<%= form_for feed_item_signal do |f| %>
				<%= render 'shared/error_messages', :object => f.object %>
				<div class="field", style="float:left;">
					<%= f.check_box :validation %>
				</div>
				<div class="actions">
					<%= f.submit "Valider", :action => 'update' ,:class => 'buttons' %>
				</div>
			<% end %>
		<% elsif (current_user.id == feed_item_signal.id_signaleur) && (feed_item_signal.validation == false || current_user.admin? ) %> 
			<br><div class="field", style="float:left;">
				<%= button_to "Modifier", signalement_edit_path(feed_item_signal.id), :method => 'get', :class => 	'buttons', :title => feed_item_signal.signalement %>  
			</div>
			<div style="float:left;">
				/
			</div>
			<div style="float:left;">
				<%= button_to "Supprimer",[feed_item_signal], {:onclick => "return confirm('Are you sure to delete this signal ?')", method: :delete, :title => feed_item_signal.signalement, :class => 'buttons'}%> 
			</div> 
		<% end %>
    </td> 
</tr>