<tr>
	<td class="gravatar">
		<%= gravatar_pour(feed_item_temoignage.user, :size => 30) %>
	</td>
	<td class="content">
		<span class="content"></strong><%=  feed_item_temoignage.temoignage %>
			<% if (current_user.id == feed_item_temoignage.user_id) || (current_user.id == feed_item_temoignage.pro_id)  %>
				<td>
					<%= button_to "Supprimer", feed_item_temoignage, {:onclick => "return confirm ('Are you sure to delete this temoignage ?')", :method => :delete, :class => 'round', :title => feed_item_temoignage.temoignage, :countchecks =>  0 } %>
				</td>
			<% else %>
				<% @approbation = Approbation.find_by_temoignage_id_and_approuver_id(feed_item_temoignage.id, current_user.id) %>
				<% if !@approbation.nil? %>
					 <%= link_to "Desapprouver", desapprouver_path(@approbation), :action => 'delete', :title => feed_item_temoignage.temoignage , :class => 'round' %>
					 
				<% else %> 
					<%= link_to "Approuver" , approuver_path(feed_item_temoignage.id), :title => feed_item_temoignage.temoignage, :class => 'round'  %>
				<% end %>
			<% end %>
		</span>
	</td>
</tr>