<tr>
	<td class="gravatar">
		<br><%= gravatar_pour(feed_item_temoignage.user, :size => 30) %>
			<span class="content"></strong><%=  feed_item_temoignage.temoignage %>
			<% $temoignage_id = feed_item_temoignage.id %>
			<% if (feed_item_temoignage.approbations.count ) < 2 %>
				<br><em><%= pluralize(feed_item_temoignage.approbations.count  , "approbation", "approbation") %></em>
			<% else %>
				<br><em><%= pluralize(feed_item_temoignage.approbations.count  , "approbation" ) %></em>
			<% end %>
			<% if (feed_item_temoignage.desapprobations.count ) < 2 %>
				<em><%= pluralize(feed_item_temoignage.desapprobations.count  , "desapprobation", "desapprobation") %></em>
			<% else %>
				<em><%= pluralize(feed_item_temoignage.desapprobations.count  , "desapprobation" ) %></em>
			<% end %>
			
			<% if (current_user.id == feed_item_temoignage.user_id) || (current_user.id == feed_item_temoignage.pro_id)  %>
				<td>
					<%= button_to "Supprimer", feed_item_temoignage, {:onclick => "return confirm ('Are you sure to delete this temoignage ?')", :method => :delete, :class => 'buttons', :title => feed_item_temoignage.temoignage, :countchecks =>  0 } %>
				</td>
			<% else %>
				<% @approbation = Approbation.find_by_temoignage_id_and_approuver_id(feed_item_temoignage.id, current_user.id) %>
				<% if @approbation.nil? %>
					<br><%= link_to "Approuver" , approuver_path(feed_item_temoignage.id), :title => feed_item_temoignage.temoignage, :class => 'buttons', :onclick => $i_approuve = 1 %>
					<%= link_to "Desapprouver", approuver_path(feed_item_temoignage.id),  :title => feed_item_temoignage.temoignage , :class => 'buttons' ,:onclick => $i_approuve = 0 %>
				<% else %> 
					<% if @approbation.approuve == 0 %>
						<% $i_approuve = 1 %>
						<br><%= link_to "Approuver" , approupdate_path(@approbation.id), :methode => 'patch', :title => feed_item_temoignage.temoignage, :class => 'buttons'   %>
					<% else %>
						<% $i_approuve = 0 %>
						<br><%= link_to "Desapprouver", approupdate_path(@approbation.id), :methode => 'patch',  :title => feed_item_temoignage.temoignage , :class => 'buttons'  %>
					<% end %>
				<% end %>
			<% end %>
		</span>
	</td>
</tr>