<tr>
	<td class="gravatar">
		<% $user_comment = User.find_by_id(feed_item_commentaire.commentateur_id) %>
		<%= link_to gravatar_pour($user_comment, :size => 30), user_path($user_comment.id), :title => $user_comment.nom %>
	</td>
	<td class="content">
		<% $feed_item_commentaire = feed_item_commentaire %>
		<span class="content">
			<% $feed_item_commentaire = feed_item_commentaire %>
			<% $feed_item_commentaire_commentaire = feed_item_commentaire.commentaire %>
			<% $feed_item_commentaire_id = feed_item_commentaire.id %>
			<% if !(feed_item_commentaire.commentateur_id == current_user.id ) %>
				<%=  link_to feed_item_commentaire.commentaire, new_commentaire_reponse_path($feed_item_commentaire_id), :class => 'round'%>
			<% else %> 
				<%= feed_item_commentaire.commentaire %>
			<% end %>
			<em>	<%= feed_item_commentaire.reponses.count %> reponses </em>
			<% if (current_user.id == feed_item_commentaire.commentateur_id)%>
				<td>
					<%= button_to "Supprimer", feed_item_commentaire, {:onclick => "return confirm ('Are you sure to delete this commentaire ?')", :method => :delete, :class => 'round', :title => feed_item_commentaire.commentaire, :countchecks =>  0 } %>
				</td>
			<% end %>
		</span>
	</td>
</tr>