<%= form_for @signalement  do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
	<% if current_user.admin? && @signalement.validation == false %>
		<div class="field">
			<%= f.text_area :signalement %>
		</div>
		<div class="field">
			<%= f.check_box :validation %>
		</div>
		<div class="actions">
			<%= f.submit "Valider", :action => 'update' ,:class => 'buttons' %>
		</div>
    <% else !current_user.admin? && current_user.id == @signalement.id_signaleur %>
		<div class="field">
			<%= f.text_area :signalement %>
		</div>
		<div class="actions">
			<%= f.submit "Modifier", :action => 'update', :class => 'buttons' %>
		</div
	<% end %>
<% end %>
