<% @user ||= current_user %>
<div class="stats">
	<table summary="User stats">
		<tr>
			<td>
				<a href="<%= friends_user_path(@user) %>">
					<span id="friends" class="stat">
						<%= pluralize(@user.friends.where('friendships.status'=> 1).count + @user.invitations.where('friendships.status'=> 1).count , "friend") %> 
					</span>
				</a>
			</td>
			<td>
				<a href="<%= invitations_user_path(@user) %>">
					<span id="invitations" class="stat">
						<%= pluralize(@user.invitations.where('friendships.status'=> 0).count, "invitation") %>
					</span>
				</a>
			</td>
			<td>
				<a href="<%= invites_user_path(@user) %>">
					<span id="invites" class="stat">
						<%= pluralize(@user.friends.where('friendships.status'=> 0).count, "invite") %>
					</span>
				</a>
			</td>

		</tr>
	</table>
</div>