<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
    		<br><br><h3>
				<%= gravatar_pour $even_user, :size => 30 %>
				<%= $evenement_titre  %> 
			</h3>
			<td class="Reponse", style="font-style:italic;" >
				<br><strong>Modifier reponse </strong>
				<%= render "shared/reponse_form_upd" %>
				<%= gravatar_pour $comment_user, :size => 30 %>
				<%= $comment.commentaire %> </br>
				<% if $comment.reponses.count < 2 %>
					<em><%= pluralize($comment.reponses.count, "reponse", "reponse") %> </em></br>
				<% else %>
					<em><%= pluralize($comment.reponses.count, "reponse") %> </em></br>
				<% end %>
				<%= render 'shared/feed_reponse' %> </br>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
