<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
    			<h1>
				<%= gravatar_pour $even_user, :size => 50 %>
				<%= $evenement_titre  %> 
			</h1>
			<td class="Reponse">
				<%= gravatar_pour $comment_user, :size => 30 %>

				<strong><%= $comment.commentaire %> </strong> </br>
				<%= $comment.reponses.count %> reponses </br>
				<%= Reponse %>
				<%= render "reponses/reponse_form" %>
				<%= render 'shared/feed_reponse' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
