<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
    		<h1>
				<%= gravatar_pour $even_user, :size => 50 %>
				<%= $evenement_titre  %> 
			</h1>
			<td class="Reponse">
				<h3><%= $comment.commentaire %> </h3>
				<%= $comment.reponses.count %> reponses
				<%= render $comment.reponses %>
				<%= Reponse %>
				<%= render "reponses/reponse_form" %>
				<%#= link_to "Edit", edit_commentaire_reponse_path($reponse.commentaire, $reponse.id) %>
				<%#= link_to "Delete", ([$reponse.commentaire, $reponse]), :action => :delete, :data => { confirm: "Are you sure?" } %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
