<%# if signed_in? %>
	<br/><br/><br/><%= form_tag(evenementindex_path, :method => "get", id: "search-form") do %>
		<%= text_field_tag :search_titre, params[:search_titre], placeholder: "Titre evenement" ,:selected => "false" %>
		<%= text_field_tag :search_des, params[:search_des], placeholder: "Description evenement"  %>
		<%= submit_tag "Search"  %>
	<% end %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<td class="main">
				<h2 class="evenement">Evenements</h2>
				<%# = render 'shared/evenement_form' %>
				<%= render 'shared/feed_evenement' %>
				<%= link_to "Nouvel evenement ", newevenement_path , :class => 'buttons'  %>
			</td>
			<td class="sidebar">
			<% if signed_in? %>
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			<% end %>
			</td>
		</tr>
	</table>
<%#end %>

