<!DOCTYPE html>
<% if signed_in? %>
  <table class="front" summary="Pour visiteur identifie">
    <tr>
      <td class="main">
        <h1 class="micropost">Nouveau message</h1>
        <%= render 'shared/micropost_form' %>
          <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
    
    <h1>Simple App</h1>
    <p>
      Ceci est la page d'accueil de l'Application Exemple du
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>.   

    </p>

<%= link_to "S'inscrire !", signup_path, :class => "signup_button round" %> 

 <% logo1 = image_tag("logo1.png", :alt => "Test exemple", :class => "round") %>
  <%= link_to logo1, "http://www.mtc-bordeaux.fr "%>
 

<% end %>