<% $user_ev = User.find_by_id(evenement.user_id) %>
<% if !(evenement.date_evenmt.to_s[0..9] == $sav_date) %>
	<de><%= evenement.date_evenmt.to_s[0..9] %></de>
<% end %>
<% $sav_date = evenement.date_evenmt.to_s[0..9]  %>
<ul>
	<% $even_inscrit = evenement.id %>
	<%= link_to (gravatar_pour $user_ev, :size => 30), user_path(evenement.user_id) %> 
	<%= link_to evenement.titre, evenement %><br/>
	<div> 
		<% if evenement.inscriptions.count < 2 %>
			<em><%= pluralize(evenement.inscriptions.count, "inscription","inscription") %></em>
		<% else %>
			<em><%= pluralize(evenement.inscriptions.count, "inscription") %></em>
		<% end %>
		<em style="margin:10px;"><%= evenement.jaimes.count %></em>
		<%= image_tag("aimer.png" , :title=> "J'aime", :style=>"margin-left:-10px;" )%>
	</div> 
</ul>
