<table class="front" summary="Pour visiteur identifie">
	<td class="main"><br><br><br><br><br>
		<% if signed_in? && (current_user?(@evenement.user)) %>
			<%= form_for @evenement  do |f| %>
				<%= render 'shared/error_messages', :object => f.object %>
				<div class="field">
					<%= f.label :titre, "Titre*" %><br />
					<%= f.text_field :titre %>
				</div>
				<div class="field">
					<%= f.label :description, "Description*" %><br />
					<%= f.text_area :description %>
				</div>
				<div class="field">
					<%= f.label :date_evenmt, "Date/heure de l'evenement*" %><br />
					<%= f.datetime_local_field :date_evenmt %>
				</div>
				<div class="field">
					<%= f.label :lieu_evenmt, "Lieu evenement*" %><br />
					<%= f.text_field :lieu_evenmt%>
				</div>
				<div class="field">
					<%= f.label :code_postal, "Code postal*" %><br />
					<%= f.text_field :code_postal%>
				</div>
				<div class="field">
					<%= f.label :date_rdv, "Date et heure du RDV*" %><br />
					<%= f.datetime_local_field :date_rdv %>
				</div>
				<div class="field">
					<%= f.label :lieu_rdv, "Lieu du RDV*" %><br />
					<%= f.text_field :lieu_rdv %>
				</div>
				<div class="field">
					<%= f.label :prix, "Prix*" %><br />
					<%= f.text_field :prix %>
				</div>
				<div class="field">
					<%= f.label :nbmax, "Nbr max*" %><br />
					<%= f.text_field :nbmax %>
				</div>
				<div class="field">
					<%= f.label :theme, "Theme" %><br />
					<%= f.text_field :theme %>
				</div>
				<div class="field">
					<%= f.label :mot_cle, "Mot cle" %><br />
					<%= f.text_field :mot_cle %>
				</div> 
				<div class="actions", style="float=left;">
					<%= f.submit "Modifier", :method => :patch, :class => 'buttons' , :style => "margin-top: 18px;" %> 
				</div>
			<%end %>
		<%end %>
	</td>
	<td class="sidebar">
		<% if signed_in? %>
			<br><br><br><%= render 'shared/user_info' %>
			<%= render 'shared/statsfriends' %>
		<% end %>
	</td>
</table>
		
		