<%# if signed_in?  %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<td class="main">
				<% $index_pro = 0 %>
				<h2>Evenements</h2>
				<ul class="users">
					<%= render @evenements %>
				</ul>
				<%= will_paginate %>
				<%= button_to "Evenements", evenements_path, :class => 'buttons' , :method => :get , :style=>"float:left;"%>
				<%= button_to "Inscription", evenements_path, :class => 'buttons', :style=>"float:left; " %>
				<%= button_to "Nouvel evenement ", newevenement_path , :class => 'buttons',:style=>"float:left;"  %>
			</td>
			<td>
				<% if signed_in? %>
					<td class="sidebar round">
						<%= render 'shared/user_info' %>
						<%= render 'shared/statsfriends' %>
					</td>
				<% end %>
			</td>
		</tr>
	</table>
<%# end %>
