<%# if signed_in?  %>
	<table class="evenement" summary="Pour visiteur identifie">
		<tr>
			<td class="main">
				<% $index_pro = 0 %>
				<ul class="users">
					<br/>
					<% if @evenements.present?  %><h2>Evenements</h2>
						<% $sav_date = "" %>
						<%= render @evenements %>
						<br><%= will_paginate %></br>
						<% if !signed_in? %>
							<%= button_to "Inscription", newevenement_path,  :method => "get", :class => 'buttons', :style=>"float:left; " %>
						<% end %>
						<br/><%= button_to "Nouvel evenement ", newevenement_path , :method => "get", :class => 'buttons',:style=>"float:left;"  %>
					<%else %>
						<em style="color:green";><br><br>Pas d'evenement correspondant à votre recherche ! </em><br/><br/><br/><br/><br/>
					<% end %>
					<%= button_to "Evenements", evenements_path, :class => 'buttons' , :method => :get , :style=>"float:left;"%>
				</ul>
			</td>
			<td>
				<% if signed_in? %>
					<td class="sidebar round">
						<br/><br/><br/><br/><%= render 'shared/user_info' %>
						<%= render 'shared/statsfriends' %>
					</td>
				<% end %>
			</td>
		</tr>
	</table>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83310615-1', 'auto');
  ga('send', 'pageview');

</script>
<%# end %>
