<!DOCTYPE html>
<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<td class="main">
				<h3 class="Evenements"> <%= @evenement.titre %> </h3>
				<%= render 'shared/evenement_form_upd' %>
				<%# = render 'shared/feed_evenement' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
    <% if current_user.id == @evenement.user_id %>
		<td>    
			<%= button_to "Supprimer", @evenement, {:onclick => "return confirm('Are you sure to delete evenement #{@evenement.titre}?')", :method => :delete, :class => 'round', :title => @evenement.titre, :countchecks => 0 }%>
		</td>
	<% else %>
		<td>    
			<%# = button_to "Inscription", @evenement, :method => :build, :class => 'round', :title => @evenement.titre %>
		</td>  
	<% end %>
<% end %>









