<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<% $index_even = 0 %>
			<td class="main">
				<h3 class="Evenements"> 
					<br/><br/><%= link_to (gravatar_pour @evenement.user, :size => 30) , user_path(@evenement.user_id) %>
					<%= @evenement.titre %> <br/>
					<em><%= pluralize(@evenement.inscriptions.count, "inscription","inscription".pluralize(:fr)) %>  
						<%= pluralize(@evenement.jaimes.count, "Jaime", "Jaime".pluralize(:fr)) %>  
					</em>
				</h3>
				<%= render 'shared/evenement_form_upd' %>
				<%# = render 'shared/feed_evenement' %>
			</td>
			<td class="sidebar round">
					<br/><br/><br/><%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
	<% $user_even = @evenement.user_id %>
    <% if current_user.id == @evenement.user_id %> 
		<div>
		<%= button_to "Supprimer", @evenement, {:onclick => "return confirm('Are you sure to delete evenement #{@evenement.titre}?')", :method => :delete, :class => 'buttons', :title => @evenement.titre, :countchecks => 0 , :style => "margin-left: 21px; float:left; "} %>
		<%= button_to "Modifier", evenementedit_path(@evenement) ,:method => :get, :class => "buttons", :style => "margin-left: 0.1em; float:left; " %>
		</div>
	<% end %>
<% else %>
	<table class="front" >
		<tr>
			<td class="main">
				<h3 class="Evenements"> 
					<br><%= link_to (gravatar_pour @evenement.user, :size => 30) , user_path(@evenement.user_id) %>
					<%= @evenement.titre %> <br/>
					<em><%= pluralize(@evenement.inscriptions.count, "inscription","inscription".pluralize(:fr)) %> 
						<%= pluralize(@evenement.jaimes.count, "Jaime","Jaime".pluralize(:fr)) %>  
					</em>
				</h3>
				<%= render 'shared/evenement_form_upd' %>
				<%= button_to "Evenements", evenements_path, :class => 'buttons' , :method => :get , :style=>"float:left;"%>
				<% if !(@evenement.date_evenmt < Time.now) %>
					<%= button_to "Inscription", evenements_path, :class => 'buttons', :style=>"float:left; " %>
				<% end %>
				<%= button_to "Nouvel evenement", newevenement_path,:method => 'get', :class => 'buttons' ,:style=>"float:left;" %><br>
			</td>
		<tr>
	</table>
<% end %>
<ul>
	<% $even_inscrit = @evenement.id %>
	<%= render 'inscriptions/edit' %>
</ul>









