<% if signed_in? %>
	<table class="front" summary="Pour visiteur identifie">
		<tr>
			<h2>
				<br><br><%= gravatar_pour $even_user, :size => 30%>
				<%= $evenement.titre %><br>
				<% if $evenement.inscriptions.count < 2 %>
					<em><%= link_to pluralize($evenement.inscriptions.count, "inscription","inscription"), inscritedit_path %></em>
				<% else %>
					<em><%= link_to pluralize($evenement.inscriptions.count, "inscription"), inscritedit_path %></em>
				<% end %>
			</h2>
			<td class="main">
				<h3 class="signalement">Signalements </h3>
				<%= render "shared/signaleven_form" %>
				<%= render 'shared/feed_signaleven' %>
			</td>
			<td class="sidebar round">
				<%= render 'shared/user_info' %>
				<%= render 'shared/statsfriends' %>
			</td>
		</tr>
	</table>
<% end %>
