<header>
</ul>
  <% logo = image_tag("logo.png", :alt => "Application exemple", :class => "round") %>
  <%= link_to logo, root_path %>
<% logo1 = image_tag("logo1.png", :alt => "Application exemple", :class => "round coller") %>
  <%= link_to logo1, "http://www.mtc-bordeaux.fr "%>

</ul>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <li><%= link_to "Aide", help_path %></li>
      <li><%= link_to "S'identifier", '#' %></li>
    </ul>
  </nav>
</header>