<header>
</ul>  
<%= link_to logo, root_path %>
  <% logo1 = image_tag("logo1.png", :alt => "Caiss d'allocation familiale", :class => "round coller") %>
  <%= link_to logo1, "http://www.caf.fr" %>
</ul>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil", root_path %></li>
      <% if signed_in? %>
      <li><%= link_to "Profil", current_user %></li>
      <% end %>
      <li><%= link_to "Aide", help_path %></li>
      <% if signed_in? %>
  <li>
<%= link_to "Deconnexion", signout_path, :method => :delete %>  </li>  
      <% else %>
      <li><%= link_to "S'identifier", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>