<header>
	<ul>  
		<%= link_to logo, root_path, :style => "margin-top:1000px;" %>
	</ul>
	<nav class="round">
		<ul>
			<li><%= link_to "Accueil", root_path %></li>
      		<% if signed_in? %>
				<li><%= link_to "Membres", users_path %></li>
				<li><%= link_to "Profil", current_user %></li>
				<li><%= link_to "Microposts", textperso_path %></li>
				<% if current_user.admin? %>
					<li><%= link_to "SignalPro", signalindex_path %></li>
					<li><%= link_to "SignalEven", signalevenindex_path %></li>
				<% end %>
				<li><%= link_to "Evenements", evenements_path %></li>
			<% end %>
			<li><%= link_to "Aide", help_path %></li>
			<% if signed_in? %>
				<li><%= link_to "Deconnexion", signout_path, :method => :delete %>  </li>  
			<% else %>
				<li><%= link_to "S'identifier", signin_path %></li>
			<% end %>
		</ul>
		<div class="boxy" >
			<%= link_to image_tag('marcsilvestre.jpg', style: "margin-left: 10px") ,href="http://www.marcsilvestre.com" %>
			<%= link_to image_tag('danseadanse.jpg',style: "margin-left: -5px"), href="http://dansetadanse.weebly.com"  %>
			<%= link_to image_tag('5rhythms.jpg',style: "margin-left: -5px") , href="https://omar5rythmes.wordpress.com" %>
			<%= link_to image_tag('coeurdanse.jpg',style: "margin-left: -5px") , href="http://www.coeur-danse-presence.com" %>
			<%= link_to image_tag('justdanse.jpg',style: "margin-left: -5px") , href="http://www.justdancewithlife.com" %>
			<br/><br/><br/>
		</div>
	</nav>
</header>